<%- contentFor('main')%>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/cosmo/bootstrap.min.css">
    <div class="mainbody container-fluid">
        <div style="padding-top:50px;"> </div>
        <div class="col-lg-12 col-md-12">
            <div class="panel panel-default ">
                <div class="panel-body">
                    <h1 class="panel-title pull-left" style="font-size:30px;"><strong>Profile</strong></h1>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 ">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Your photo</h3>
                    <br><br>
                    <div align="center">
                        <div class="col-lg-12 col-md-12">
                            <img class="thumbnail img-responsive" src="<%= user.profilepic%>" width="300px" height="300px">
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <%#================FORM PIC============================== %>
                                <form id="form-pic" action="/profile/profilepic" method="post" enctype="multipart/form-data">
                                    <label for="inputUpload" class="s3-btn s3-btn2" style="padding:10px; color:black" type="button">
                                  <i class="fa fa-upload" aria-hidden="true"></i> Upload a new profile photo!</label>
                                    <input id="inputUpload" type="file" name="inputUpload" style="visibility:hidden; display:none">
                                </form>

                                <%#================FORM PIC============================== %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Basic Info</h3><button id="basicShow" class="fa fa-edit" type="button" style="float:right; background-color:white; border:none;"></button>
                    <br><br>
                    <div class="show-basic">
                        <label for="inputName">Name :</label>
                        <%if(typeof  user.name !== 'undefined'){%>
                            <label id="inputName"><%=user.name%></label>
                            <%}%>
                                <hr style="margin:5px;">
                                <label for="inputEmail">Email :</label>
                                <%if(typeof  user.email !== 'undefined'){%>
                                    <label id="inputName"><%=user.email%></label>
                                    <%}%>
                                        <hr style="margin:5px;">
                                        <label>Username :</label>
                                        <%if(typeof  user.username !== 'undefined'){%>
                                            <label id=""><%=user.username%></label>
                                            <%}%>
                                                <hr style="margin:5px;">
                                                <label>Bio :</label>
                                                <%if(typeof  user.bio !== 'undefined'){%>
                                                    <label><%=user.bio%></label>
                                                    <%}%>
                                                        <hr style="margin:5px;">
                    </div>
                    <div class="form-basic" style="display:none;">
                      <%#================FORM PIC============================== %>

                        <form id="" action="/profile/basic" method="post">
                            <label for="inputName">Name</label>
                            <input id="inputName" class="form-control" type='text' name="inputName" value="<%=user.name%>">
                            <label for="inputEmail">Email</label>
                            <input id="inputEmail" class="form-control" type='email' name="inputEmail" value="<%=user.email%>">
                            <label for="inputUsername">Username</label>
                            <input id="inputUsername" class="form-control" type='text' name="inputUsername" value="<%=user.username%>">
                            <label for="inputBio">Your bio</label>
                            <%if(typeof user.bio !== 'undefined'){%>
                                <textarea id="inputBio" name="inputBio" class="form-control" rows="3"><%=user.bio%></textarea>
                                <%}else{ %>
                                    <textarea id="inputBio" name="inputBio" class="form-control" rows="3"></textarea>
                                    <%}%>
                                        <br>
                                        <button id="basic-Cancel" class="s3-btn s3-btn5" type="button" style="padding:5px;"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Cancel</button>
                                        <button class="s3-btn s3-btn2" style="padding:5px; " type="submit"><i class="fa fa-fw fa-check" aria-hidden="true" ></i> Save Changes</button>
                        </form>
                        <%#================FORM PIC============================== %>

                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left">Update Password</h3><button id="passShow" class="fa fa-edit" type="button" style="float:right; background-color:white; border:none;"></button>
                    <br><br>
                    <%if(typeof user.password !== 'undefined'){%>
                    <div class="form-password" style="display:none;">
                        <form class="" action="/profile/password" method="post">
                            <label for="inputCurrentPassword">Current Password</label>
                            <input id="inputCurrentPassword" data-min-length="8" title="Password must be at least 8 characters long." class="form-control" type='password' name="inputCurrentPassword" value="">
                            <label for="inputPassword">Password</label>
                            <input id="inputPassword" data-min-length="8" title="Password must be at least 8 characters long." class="form-control" type='password' name="inputPassword" value="">
                            <label for="inputConfirmPass">Confirm Password</label>
                            <input id="inputConfirmPass" data-min-length="8" title="Password must be at least 8 characters long." class="form-control" type='password' name="inputConfirmPass" value="">
                            <br>
                            <button id="pass-Cancel" class="s3-btn s3-btn5" type="button" style="padding:5px;"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Cancel</button>
                            <button class="s3-btn s3-btn2" style="padding:5px; " type="submit"><i class="fa fa-fw fa-check" aria-hidden="true" ></i> Save Changes</button>
                        </form>
                    </div>
                  <%}else {%>
                    <div class="form-password" style="display:none;">
                        <form class="" action="/profile/new" method="post">
                            <label for="inputPassword">New Password: </label>
                            <input id="inputPassword" data-min-length="8" title="Password must be at least 8 characters long." class="form-control" type='password' name="inputPassword" value="">
                            <label for="inputConfirmPass">Confirm Password</label>
                            <input id="inputConfirmPass" data-min-length="8" title="Password must be at least 8 characters long." class="form-control" type='password' name="inputConfirmPass" value="">
                            <br>
                            <button id="pass-Cancel" class="s3-btn s3-btn5" type="button" style="padding:5px;"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Cancel</button>
                            <button class="s3-btn s3-btn2" style="padding:5px; " type="submit"><i class="fa fa-fw fa-check" aria-hidden="true" ></i> Save Changes</button>
                        </form>
                    </div>
                  <%}%>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3 class="panel-title pull-left"> What are your <strong>Preferred Programing Languge</strong></h3><button id="langShow" class="fa fa-edit" type="button" style="float:right; background-color:white; border:none;"></button>
                    <br><br>
                    <div class="show-lang">
                        <%if(typeof user.language !== 'undefined'){%>
                            <%user.language.forEach((oneLang)=>{%>
                                <label for="<%=oneLang%>" id="<%=oneLang%>" class="deleteLanlabel s3-btn5 <%=oneLang%>" name="" style="padding:7px; width:auto; margin:5px;"><%=oneLang%></label>
                                <%});%>
                                    <%};%>
                    </div>


                    <div class="form-lang" style="display:none;">
                        <form class="" action="/profile/lang" method="get">
                            <input list="language" id="selectLanguage" class="form-control">
                            <datalist id="language" class="">
                         <option value="" selected="selected"></option>
                         <option value="Java"></option>
                         <option value="C"></option>
                         <option value="C++"></option>
                         <option value="C#"></option>
                         <option value="Python"></option>
                         <option value="Visual Basic .NET"></option>
                         <option value="PHP"></option>
                         <option value="JavaScript"></option>
                         <option value="Delphi/Object Pascal"></option>
                         <option value="Swift"></option>
                         <option value="Perl"></option>
                         <option value="Ruby"></option>
                         <option value="Assembly language"></option>
                         <option value="R"></option>
                         <option value="Visual Basic"></option>
                         <option value=" Objective-C"></option>
                         <option value="Go"></option>
                         <option value="MATLAB"></option>
                         <option value="PL/SQL"></option>
                         <option value="Scratch"></option>
                         <option value="SAS"></option>
                         <option value="D"></option>
                         <option value="Dart"></option>
                         <option value="ABAP"></option>
                         <option value="COBOL"></option>
                         <option value="Ada"></option>
                         <option value="Fortran"></option>
                         <option value="Transact-SQL"></option>
                         <option value="Lua"></option>
                         <option value="Scala"></option>
                         <option value="Logo"></option>
                         <option value="F#"></option>
                         <option value="Lisp"></option>
                         <option value="LabVIEW"></option>
                         <option value="Prolog"></option>
                         <option value="Haskell"></option>
                         <option value="Scheme"></option>
                         <option value="Groovy"></option>
                         <option value="RPG (OS/400)"></option>
                         <option value="Apex"></option>
                         <option value="Erlang"></option>
                         <option value="MQL4"></option>
                         <option value="Rust"></option>
                         <option value="Bash"></option>
                         <option value="Ladder Logic"></option>
                         <option value="Q"></option>
                         <option value="Julia"></option>
                         <option value="Alice"></option>
                         <option value="VHDL"></option>
                         <option value="Awk"></option>
                     </datalist>
                            <br>
                            <div id="resultOfLanguage">
                                <%if(typeof user.language !== 'undefined'){%>
                                    <%user.language.forEach((oneLang)=>{%>
                                        <label for="<%=oneLang%>" id="<%=oneLang%>" class="deleteLanlabel s3-btn5 <%=oneLang%>" name="" style="padding:5px; width:auto; margin:5px;"><%=oneLang%><a class="fa fa-times Xhover" style="text-decoration:none; margin-left:10px; "></a></label>
                                        <script type="text/javascript">
                                            document.getElementById("<%=oneLang%>").addEventListener('click', () => {
                                                document.getElementById("<%=oneLang%>").remove();
                                            });
                                        </script>
                                        <%});%>
                                            <%};%>
                            </div>
                            <input id="inputLookingforjob" type="checkbox" name="inputLookingforjob" value="FALSE" style="margin:20px; margin-right:5px;">
                            <label for="inputLookingforjob"> Looking For Job ?</label>
                            <br>
                            <button id="addLanguage" class="s3-btn s3-btn2" type="button" style="height:30px; width:50px; padding:0px;">Add +</button>

                            <hr>
                            <button id="lang-Cancel" class="s3-btn s3-btn5" type="button" style="padding:5px;"><i class="fa fa-fw fa-times" aria-hidden="true"></i> Cancel</button>
                            <button class="s3-btn s3-btn2" style="padding:5px; " type="submit"><i class="fa fa-fw fa-check" aria-hidden="true" ></i> Save Changes</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
